section {
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b21b1b;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #b21b1b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #b21b1b;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"] {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0062cc;
  border-color: #0062cc;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

.create {
  background-color: #b21b1b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.create:hover {
  /* box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000; */
  background-color: rgb(105, 5, 5);
  border-color: rgb(105, 5, 5);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#upload-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 20px;
}

#upload-success a {
  color: #155724;
  text-decoration: underline;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
