form {
    margin: 3%;
    padding: 1%;
    border: solid rgb(214, 214, 214);
    border-radius: 5px 5px;
}

.formGroup {
    width: 50%;
    margin: 1.5%;
}

.button {
    margin: 1%;
    padding: 2%;
    border: solid rgb(214, 214, 214);
    border-radius: 20px 20px;
    background-color: rgb(151, 1, 1);
    color: white;
    font-size: 16px;
}