.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-info {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 span {
    font-size: 18px;
    color: #666;
  }

  h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 16px;
  }

  ul li {
    margin-bottom: 10px;
  }

  address {
    font-style: normal;
    margin-bottom: 20px;
  }

  span {
    color: #666;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding
  }